body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1;
  background-color: rgb(223, 211, 190);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: darkslategrey;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: darkslategrey;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: rgb(99, 96, 96);
  color: #76dcee;
  border-top: 1px dashed #000000;
}

.past {
  background-color: rgb(199, 130, 199);
  color: white;
}

.present {
  background-color: lightgrey;
  color: white;
}

.future {
  background-color: rgb(123, 105, 172);
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #76dcee;
  color: black;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}